<!doctype html>
<html>
    <head>
      {% if title %}
      <title>{{ title }} - NotesApp</title>
      {% else %}
      <title>Welcome to NotesApp</title>
      {% endif %}
    </head>
    <div>
    NotesApp
    <a href="/index">Home</a>
    {% if current_user.is_anonymous %}
       <a href="{{ url_for('login') }}">Login</a>
    {% else %}
       <a href="{{ url_for('logout') }}">Logout</a>
    {% endif %}
    </div>

    <body>
       <hr>
       {% block content %}{% endblock %}
    </body>
</html>
